/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img
embed, 
object, 
video {
    max-width: 100%;
}

body {
    background-color: white;
    font-family: 'Nixie One', cursive;
    color: #2d3c49;
}

/* Header */
header {
    text-transform: uppercase;
    text-align: right;
    font-size: 2.5em; 
}

.header-section {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #7d97ad;
    padding: 15px 10px;
}

.name, 
.job-title {
    font-weight: normal;
}

