/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
embed, 
object, 
video {
    max-width: 100%;
}

body {
    background-color: white;
    font-family: 'Nixie One', cursive;
    color: #2d3c49;
}


/* Header */
header {
    text-transform: uppercase;
    text-align: right;
    max-width: 100%;    
}


.name, 
.job-title {
    font-weight: normal;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #7d97ad;
    padding: 15px 10px;
    width: 100%;
}

/* Hero */
.hero-image {
    margin: 30px 0;
    align-items: center;
    width: auto;
    height: 500px;
    background-image: url('../img/keyboard.jpeg');
    background-size: cover;
    background-position: 25% 75%;
    background-repeat: no-repeat;
}


/* Featured Section */
.feature-section-title {
    color: #7d97ad;
    margin-left: 10px;
}

.featured-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
    color: #2d3c49;
}

.project {
    margin: auto;
    padding: 1.5em;
}

.project-details {
    text-align: center;
}

.project-title {
    text-transform: uppercase;
}